/* float uygulanan elemanlari kapsayamama sorunu */
.clearfix:after {content: "."; display: block; height: 0; font-size:0; line-height:0; clear: both; visibility: hidden;}
/*.clearfix {display: inline-block;}
.clearfix {display: block;}*/

.clear {clear:both; font-size:0; line-height:0; height:0;}
/* Css Sifirlama */


/* GENEL */
.left {float:left;}
.right {float:right;}
a {text-decoration: none; outline: none;}
 
* {
 -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		 box-sizing: border-box;
}

ul, ol {padding: 0; margin: 0;}

body {font-family:'Source Sans Pro', Arial; font-weight: 400; font-size:12px; color:#222222; background:#fff;}